.editar-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.carousel-with-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.carousel-container {
  width: auto;
  max-width: 600px;
  margin: 0 10px;
  background-color: #CEE6F3;
}

.editar-nav-btn {
  border-radius: 50%;
  padding: 7px;
  margin: 7px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  background-color: #35B09E;
  border: 2px solid #35B09E;
  align-items: center;
  cursor: pointer;
}

.editar-vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 25px;
  color: #666; 
}

@media (max-width: 768px) {
  .carousel-with-buttons {
    flex-direction: column;
  }

  .carousel-container {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .editar-nav-btn {
    margin: 5px auto;  
  }

  .editar-vacio {
    font-size: 16px; 
    padding: 10px;
  }
}
