.inicio-container {
    text-align: center;
    padding: 20px;

  }
  
  .inicio-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
  }
  
  .inicio-images img {
    width: 100%;
    max-width: 600px;
    transition: opacity 1s ease;
    border-radius: 10px; 
    margin-bottom: 20px; 
  }
  
  .inicio-text {
    width: auto; 
    max-width: 80%; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: justify;
    word-wrap: break-word; 
    hyphens: auto; 
  }
  
  @media (max-width: 768px) {
    .inicio-text {
      max-width: 90%; 
    }
  }
  