.custom-navbar {
    background-color: #03ceb1;
    border-bottom: 2px solid #000000;
    font-weight: bold;
  }
  
  .custom-navbar .ant-menu-item a {
    color: white; 
    font-size: 16px;
  }
  
  .custom-navbar .ant-menu-item a:hover {
    color: #A7B09E; 
  }
  
  .custom-navbar .ant-menu-item-active a,
  .custom-navbar .ant-menu-item-selected a {
    color: black;
  }
  
  .custom-navbar .ant-menu-item button {
    color: white;
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
    font-size: 16px;
  }
  
  .custom-navbar .ant-menu-item button:hover {
    color: #ddd;
  }

  .menu-item-right {
    margin-left: auto !important;
  }
  
  .icono-texto {
    display: inline-flex;
    align-items: center;
    font-size: 17px;
  }

  .icono{
    margin-right: 5px !important;
    font-size: 19px !important;
  }

