.map-container {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.map-container h1 {
  text-align: center;
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .App {
      padding-top: 50px;
  }

  .leaflet-routing-container {
      position: absolute !important;
      bottom: 0 !important;
      width: 100% !important;
      height: auto !important;
      max-height: 50% !important;
      overflow-y: auto !important;
  }

  .leaflet-container,
  .map-container {
      width: 340px; 
      height: 600px; /* Alto ajustado para pantallas más pequeñas */
      margin: 30px auto; 
      overflow: hidden; 
  }
}
